# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# Whistler specific
client/node_modules/
server/node_modules/
server/dist/
client/dist/
server/.env
client/.env
